# LIST

INSERTION ORDER IS PRESERVED 

DUPLICATE OBJECTS ARE ALLOWED

HETEROGENOUS OBJECTS ARE ALLOWED

LIST IS DYNAMIC AS WE CAN INCREASE THE SIZE AND DECREASE THE SIZE

ELEMENTS ARE PLACED WITHING SQUARE BRACKETS

iNDEXING IS ALLOWED - POSITIVE AND NEGATIVE

LIST IS MUTABLE

#raw_input("....") is alwats a string

In [5]:
#creating a dynamic list
a=eval(raw_input('enter a list:'))
a=list(a)
print(a)

enter a list:10,20,30
[10, 20, 30]

In [6]:
#creating an empty list and adding elements using for loop
x=[]
a = "Archana"
for i in a:
    x.append(i)
print(x)

['A', 'r', 'c', 'h', 'a', 'n', 'a']

In [9]:
#creating an empty list and adding elements using for loop
upper_limit = int(raw_input('enter the upper limit to preint even numbers'))
x=[]
for i in range(0,upper_limit,2):
    x.append(i)
print(x)

enter the upper limit to preint even numbers50
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [10]:
#creating a list using range
c = list(range(0,10,2))
print(c)

[0, 2, 4, 6, 8]

In [11]:
#creating a list from words in a string 
s ="my name is archana"
l=s.split()
print(l)

['my', 'name', 'is', 'archana']

In [13]:
#creating a heterogenous list from a sentence 
s ="the lapto costed 45000"
l=s.split()
print(l)
type(l)

['the', 'lapto', 'costed', '45000']

list

In [ ]:
#list inside another list is called nested list

In [3]:
#Creating an empty list
a=[1,2,3,4]
type(a)

list

In [ ]:
Accessing elements of list
we have two methods 
1) indexing
2) slice operator :

In [ ]:
By indexing:
index of first element is zero
list supports both +ve and ive indexes
+ve - left to right
-ve right to left

In [19]:
a=[1,2,3,4,5,6]
print(a[0]); print(a[-1]); print(a[3]); print(a[10])##error

1
6
4

IndexError: list index out of range

In [ ]:
#slice operator
#syntax:
#list1[start:stop:step]

In [20]:
my_list = [4,5,6,6,3,4,5,3,2,5,5,98,23,33,322,544]
print(my_list[:])

[4, 5, 6, 6, 3, 4, 5, 3, 2, 5, 5, 98, 23, 33, 322, 544]

In [21]:
print(my_list[::-1])

[544, 322, 33, 23, 98, 5, 5, 2, 3, 5, 4, 3, 6, 6, 5, 4]

In [22]:
print(my_list[::1])

[4, 5, 6, 6, 3, 4, 5, 3, 2, 5, 5, 98, 23, 33, 322, 544]

In [24]:
print(my_list[:5:2])

[4, 6, 3]

In [25]:
print(my_list[2:5:2])

[6, 3]

In [29]:
print(my_list[5:2:-1])

[4, 3, 6]

In [30]:
print(my_list[5:2:-2])

[4, 6]

In [33]:
print(my_list[-5:-2:1])

[98, 23, 33]

In [39]:
#LOOPING THROUGH THE LIST
#1) WHILE LOOP
m=[0,1,2,3,4,5,6,7]
i = 0
while i <len(m):
    print(m[i])
    i = i+1
print(i)

0
1
2
3
4
5
6
7
8

In [40]:
#using for loop 
m=[0,1,2,3,4,5,6,7]
for i in m:
    print(i)

0
1
2
3
4
5
6
7

In [44]:
#display only even numbers
even_numbers = []
m=[0,1,2,3,4,5,6,7]
for e in m:
    if e%2 == 0:
        even_numbers.append(e)
print(even_numbers)

[0, 2, 4, 6]

In [45]:
#display only odd numbers
even_numbers = []
m=[0,1,2,3,4,5,6,7]
for e in m:
    if e%2 != 0:
        even_numbers.append(e)
print(even_numbers)

[1, 3, 5, 7]

In [ ]:
# display elements index wise

# list finctions
a.len()
a.count()

a.append()

a.count()

a.extend()

a.index()

a.insert()

a.pop()

a.remove()

a.reverse()

a.sort()

a.min()

a.max()

In [46]:
##list functions-- len(), count(), index()
#len() - returns the number of elements present in the list
m=[0,1,2,3,4,5,6,7]
len(m)

8

In [47]:
#max() - returns the max value in a list
m=[0,1,2,3,4,5,6,7]
max(m)

7

In [48]:
#min() - returns the min value in a list
m=[0,1,2,3,4,5,6,7]
min(m)

0

In [51]:
#count() - returns the number occurance of specified items in the list
m=[0,1,2,3,4,5,6,7]
print(m.count(1))
print(m.count(8))
print(m.count(100))

1
0
0

In [2]:
#index() - returns the first occurace of the specified item
m=[0,1,2,3,4,5,6,7]
print(m.count(1))
print(m.count(0))
print(m.count(-1))
print(-1 in m)---------#check whether the element is present in m or not ---ad T/F

1
1
0
False

In [8]:
#len()
print('The number of elements: in a are',len(a))

('The number of elements: in a are', 4)

In [12]:
#count() - returns the occurance of specified item in the list
print(a.count(1))

1

In [13]:
#index returns the index of the first occurance of the specifiedc item

print('The index of 1 in a is:',a.index(1))

('The index of 1 in a is:', 0)

# Manipulating elements of list

In [3]:
#append() Function-- add elements to a list at the end
x = []
x.append("A")
x.append('B')
x

['A', 'B']

In [8]:
#adding elements to the list based on a criteria using append
x = []
for i in range(101):
    if i%5==0:
        x.append(i)
print(x)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [10]:
#Insert() function---insert insert item at specified index position
x=[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
x.insert(1,68)
print(x)
#if the specified index is greater than the max index of the list then the new element will be inserted at the end. If there are no elements in the list then the new element will be inserted at first position

[0, 68, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
#difference b/w append and insert
#append adds new elements at the end
#new elements can be added any where to the list ising insert

In [28]:
#extend() Function ---to add elements of one list to another list
names_list1 = ["harry", "tom"]
names_list2 = ["steve", "mark"]
names_list1.extend(names_list2)
names_list1

['harry', 'tom', 'steve', 'mark']

In [12]:
flowers_list_1 = ["rose", "marigold"]
flowers_list_2 = ["sunflower", "tulip"]
flowers_list_1.extend(flowers_list_2)
flowers_list_1

['rose', 'marigold', 'sunflower', 'tulip']

In [13]:
#remove() function we can us this function to remove specific item from the list. If item present multiple time then first occurance will be removed

c =[1,2,3,4,5]
c.remove(4)
c

[1, 2, 3, 5]

In [8]:
#remove all instances of specifed elements using a loop and remove function
c =[1,2,3,4,5,4,6,7]

for i in c:
    if i == 4:
        c.remove(i)

print(c)

[1, 2, 3, 5, 6, 7]

In [11]:
#pop() function in list
#it removes and returns the last element of the list
c =[1,2,3,4,5,4,6,7]
print(c.pop())
c

7

[1, 2, 3, 4, 5, 4, 6]

In [12]:
# use pop to remove specific elements from an index position
c =[1,2,3,4,5,4,6,7]
print(c.pop(5))
c

4

[1, 2, 3, 4, 5, 6, 7]

In [14]:
#if list is empty then pop() raises indexError
x = []
print(x.pop())

IndexError: pop from empty list

Difference between remove() and pop() 
remove() can be used to remove specific(known) element from a list
po() function when used returns the last element from a last. when an index position is provided POP(5) will remove and return the element

#ordering the elements of a list
#Reverse()
#sort()

In [15]:
#reverse() ---reverses the order of the list
#
c =[1,2,3,4,5,4,6,7]
c.reverse()
c

[7, 6, 4, 5, 4, 3, 2, 1]

In [16]:
#sort() 
# In list insersition order is preserved. Sort() is used to sort the elements of list according to default sorting -
#Assending for numbers
#Alphabetical order for string
#to use sort() list should be homogenous in nature
c =[1,2,3,4,5,4,6,7]
c.sort()
c

[1, 2, 3, 4, 4, 5, 6, 7]

In [18]:
#sort() 
# In list insersition order is preserved. Sort() is used to sort the elements of list according to default sorting -
#Assending for numbers
#Alphabetical order for string
c =['Archana','krithik','skanda','orange', 'rose', 'cat']
c.sort()
c

['Archana', 'cat', 'krithik', 'orange', 'rose', 'skanda']

In [19]:
#python version 2.0 allows sorting heterogenous lists. Python 3.0 will throw error and does not support sorting heterogenous elements
c =['Archana',1,'krithik',3,'skanda',5,'orange', 'rose',8, 'cat',8]
c.sort()
c

[1, 3, 5, 8, 8, 'Archana', 'cat', 'krithik', 'orange', 'rose', 'skanda']

In [20]:
#sort () with reverse clause
c =[1,2,3,4,5,4,6,7]
c.sort(reverse = True)
c

[7, 6, 5, 4, 4, 3, 2, 1]

In [21]:
#sort () with reverse clause
c =[1,2,3,4,5,4,6,7]
c.sort(reverse = False)
c

[1, 2, 3, 4, 4, 5, 6, 7]

In [26]:
#Alias and cloning of list elements
c =[1,2,3,4,5,4,6,7]
d = c
print(id(c))
print(id(d))
d.append(10)
print("c elements are:", c)
# when we are using this approach if we change the content, changes will reflect to other reference variable
#To overcome this problem cloning is done. The close is independent and changes will not reflect in the reference variable

67758856
67758856
('c elements are:', [1, 2, 3, 4, 5, 4, 6, 7, 10])

#Methods of cloning 
#1) use slice operator
#2) use copy

In [28]:
#cloning reference list using slice operator
c =[1,2,3,4,5,4,6,7]
d = c[:]
print(id(c))
print(id(d))
d.append(10)
print("c elements are:", c)

38935752
63095624
('c elements are:', [1, 2, 3, 4, 5, 4, 6, 7])

In [32]:
#python 2.0 doesnot provide copy(). Available in 3.0 versions
#cloning reference list using copy()
c =[1,2,3,4,5,4,6,7]
e = c.copy()
#print(id(c))
#print(id(e))
#d.append(10)
#print("c elements are:", c)

AttributeError: 'list' object has no attribute 'copy'

In [34]:
#using mathematical operations for list
#Concatenation operators (+)
c =[1,2,3,4,5,4,6,7]
d =[11,12,15]
x = c+d
x

[1, 2, 3, 4, 5, 4, 6, 7, 11, 12, 15]

In [35]:
#(*) operator:
d =[11,12,15]
a = d*3
a

[11, 12, 15, 11, 12, 15, 11, 12, 15]

In [37]:
#(==) comparision operator
s =[11,12,15]
d =[11,12,15]
print(s==d)

True

In [38]:
#(!=) comparision operator
s =[11,12,15]
d =[11,12,15]
print(s!=d)

False

In [40]:
#<, <=,>,>= compares only 1st element in the list
s =[11,12,15]
j =[15,12,15]
print(s<j)
print(s<=j)
print(s>=j)
print(s>j)

True
True
False
False

In [43]:
#membership operator - check whether the element is a member of a list or not
#in operator
#not in operator
s =[11,12,15]
print(10 in s)
print(11 in s)
print(11 not in s)

False
True
False

In [45]:
##clear() function ----remove all the elements of list----available in 3.0 version
s =[11,12,15]
print(s)
s.clear()
s

[11, 12, 15]

AttributeError: 'list' object has no attribute 'clear'

In [51]:
#Nested lists
s =[11,12,15,[2,3,5,6]]
print(len(s))
#Access elements in nested list
print(s[3][0])

4
2

In [60]:
#list comprehension
#syntax: list = [expression for item in list if condition]

s = [x*x for x in range(3,5)]
print(s)
s = [x**x for x in range(3,5)]
print(s)
s = [x*2 for x in range(1,11)]
print(s)
s= range(1,11)
s = [x for x in s if x%2==0]
print(s)

[9, 16]
[27, 256]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10]

In [64]:
#printing the first letter of list 
c =['Archana','krithik','skanda','orange', 'rose', 'cat']
x =[i[0] for i in c]
x

['A', 'k', 's', 'o', 'r', 'c']